In [8]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
dataset = pd.read_csv("dataset/movies.csv")
dataset.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [3]:
dataset.isna().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [5]:
dataset.shape

(10000, 9)

In [16]:
dataset = dataset.dropna()
dataset.isna().sum()

id                   0
title                0
genre                0
original_language    0
overview             0
popularity           0
release_date         0
vote_average         0
vote_count           0
dtype: int64

In [9]:
count_vectorizer = CountVectorizer(stop_words='english')

In [18]:
count_matrix = count_vectorizer.fit_transform(dataset['overview'])

In [19]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [22]:
def get_recommendations(movie_title, cosine_sim=cosine_sim):
    idx = dataset[dataset['title'] == movie_title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    top_similar_indices = [i[0] for i in sim_scores[1:11]]
    recommended_movies = dataset['title'].iloc[top_similar_indices]
    return recommended_movies

In [51]:
input_movie = 'Avengers: Endgame'
recommendations = get_recommendations(input_movie)

In [52]:
recommendations

96                  Avengers: Infinity War
836                     Germany, Year Zero
3696                        Captain Marvel
5203                  Thor: The Dark World
3478                               Sleeper
4929                    The Boss of It All
8436                             Replicant
6610                        Be Kind Rewind
1558            Captain America: Civil War
74      Justice League Dark: Apokolips War
Name: title, dtype: object